{{!< layout}}
<div class="wrapper">
    {{#if imageSrc}}
      <img 
        src={{imageSrc}}
        class="image"
      />
      <a href={{zeplinUrl}} target="_blank" title="Open in Zeplin">{{screenName}}</a>
    {{else}}
      <href={{zeplinUrl}} target="_blank" title="Open in Zeplin">{{zeplinUrl}}</a>
    {{/if}}
  </a>
</div>